<div class=show>
  <%= flash[:notice] %>
</div>

<div class="field">

    <h3>Title</h3>
      <p><%= @book.title %></p>

    <h3>body</h3>
      <p><%= @book.body %></p>
<div>

<div class="action">
    <%= link_to "Edit",edit_book_path(@book.id) %>｜<%= link_to "Back",books_path %>
</div>